[user]
  name = Imre Kószó
  email = imrekoszo@users.noreply.github.com

[alias]
  lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
  lga = ! git lg --all
  l = ! git lg -n25
  la = ! git l --all
  panic = !tar cvf ../git_panic.tar *
  co = checkout
  st = status
  d = diff
  ignore = "!gi() { curl -L -s https://www.gitignore.io/api/$@ ;}; gi"
  dt = difftool
  dtd = difftool --dir-diff --tool=meld
  branch-track = for-each-ref --format '%(refname) %(upstream:track)' refs/heads
  short-peek = log -1 --date=iso '--format=%h %C(bold red)%s%Creset %cd%d'

[push]
  default = simple

#[pager]
#  diff = diff-so-fancy | less --tabs=1,5 -RFX
#  show = diff-so-fancy | less --tabs=1,5 -RFX

[diff]
  guitool = idea
  external = difft

[difftool]
  prompt = false

[difftool "p4merge"]
  path = p4merge
  cmd = p4merge \"$LOCAL\" \"$REMOTE\"

[difftool "meld"]
  path = meld
  cmd = meld \"$LOCAL\" \"$REMOTE\"

[merge]
  tool = idea

[mergetool "p4merge"]
  path = p4merge
  cmd = p4merge \"$BASE\" \"$LOCAL\" \"$REMOTE\" \"$MERGED\"

[mergetool]
  keepBackup = false

[core]
  pager = delta --light
  editor = subl -n -w

[tig]
  ignore-case = smart-case
[tig "bind"]
  status = C none
  status = C !git commit -v
  status = + !git commit -v --amend
  main = <Ctrl-f> !git commit --fixup %(commit)
  main = <Ctrl-s> !git commit --squash %(commit)
  main = <Ctrl-r> !git rebase %(commit) --interactive
  main = <Ctrl-t> !git reset %(commit)

[fetch]
  prune = true
  pruneTags = false
[pull]
  rebase = true

[includeIf "gitdir:~/work/"]
  path = ~/work/.gitconfig

[rebase]
  autosquash = true

[commit]
  verbose = true
