[submodule "settings/intellij-alabaster"]
	path = intellij-alabaster
	url = git@github.com:imrekoszo/intellij-alabaster.git
[submodule "shell/zsh-z"]
	path = shell/zsh-z
	url = git@github.com:agkozak/zsh-z.git
[submodule "shell/zsh-interactive-cd"]
	path = shell/zsh-interactive-cd
	url = git@github.com:changyuheng/zsh-interactive-cd.git
[submodule "bin/bb-fzf"]
	path = bin/bb-fzf
	url = https://github.com/sheluchin/bb-fzf.git
