### ignore everything by default except directories in root
/*
!/*/
/*/*
!/**/.gitignore

### stuff to save
!/.gitignore
!/completions/aws.fish
!/completions/bb.fish
!/config.fish
!/fish_plugins
!/functions/ggone.fish
!/functions/gmu_.fish
!/functions/gprune.fish

## custom version of franciscolourenco/done until
## it gets fixed, see commit 70fb404 here
!/conf.d/done.fish
